@using Project02.ViewModels.Showtime
@model ShowtimeDetailsVm

@{
    ViewData["Title"] = "Showtime Details";
    Layout = "_AdminLayout";
}

<div class="container mb-4">
    <div class="row">
        <div class="col-sm-7 offset-md-2">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Showtime Details</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            Movie Title
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.MovieTitle)
                        </dd>
                        <dt class="col-sm-4">
                            Start Time
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.StartTimeFormatted)
                        </dd>
                        <dt class="col-sm-4">
                            End Time
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.EndTimeFormatted)
                        </dd>
                        <dt class="col-sm-4">
                            Language
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Language)
                        </dd>
                        <dt class="col-sm-4">
                            Format
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Format)
                        </dd>
                        <dt class="col-sm-4">
                            Cinema Name
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.CinemaName)
                        </dd>
                        <dt class="col-sm-4">
                            Hall Name
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.HallName)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer">
                    <div class="float-start">
                        <a asp-action="Edit" asp-route-id="@Model?.Showtime_ID" class="btn btn-sm btn-warning">
                            <i class="fa-solid fa-pen-to-square"></i> Edit
                        </a>
                    </div>
                    <div class="float-end">
                        <a asp-action="Index" class="btn btn-sm btn-secondary">
                            <i class="fa-solid fa-arrow-left"></i> Back to List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>