@using Project02.ViewModels.Showtime
@model ShowtimeIndexVm

@{
    ViewData["Title"] = "Showtimes";
    Layout = "_AdminLayout";
}

<form id="antiForgeryForm" method="post">@Html.AntiForgeryToken()</form>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <div>
                        <form asp-action="Index" method="get">
                            <select asp-for="SortOrder" asp-items="Model.SortOptions" class="form-select form-select-sm me-2"
                                    onchange="this.form.submit()"></select>
                        </form>
                    </div>


                    <div class="d-flex ms-auto">
                        <form asp-action="Index" method="get" class="d-flex me-2">
                            <input type="text" name="search" value="@Model.SearchString"
                                   class="form-control form-control-sm me-2"
                                   placeholder="Search by name..." />
                            <input type="hidden" name="pageSize" value="@Model.PageSize" />
                            <button type="submit" class="btn btn-sm btn-secondary d-flex align-items-center">
                                <i class="fa-solid fa-magnifying-glass me-1"></i>
                                Search
                            </button>
                        </form>

                        <a asp-action="Create" class="btn btn-sm btn-primary">
                            <i class="fa-solid fa-plus"></i> Add Showtime
                        </a>
                    </div>
                </div>

                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Movie Title</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Cinema Name</th>
                                <th class="text-center">Control</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Showtimes.Count == 0)
                            {
                                <tr>
                                    <td colspan="5" class="text-center text-muted">No showtime found</td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in Model.Showtimes)
                                {   
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MovieTitle)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StartTimeFormatted)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EndTimeFormatted)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CinemaName)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" class="btn btn-sm btn-outline-primary" asp-route-id="@item.Showtime_ID"><i class="fa-solid fa-pen-to-square"></i></a>
                                            <a asp-action="Details" class="btn btn-sm btn-outline-info" asp-route-id="@item.Showtime_ID"><i class="fas fa-info-circle"></i> </a>
                                            <button type="button" class="btn btn-sm btn-outline-danger btn-delete" data-id="@item.Showtime_ID"><i class="fa-solid fa-trash"></i></button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <div class="row my-1">
                        <div class="col-12"></div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            Showing @Model.StartPage to @Model.EndPage of @Model.TotalItems entries
                        </div>
                        @if (Model.TotalItems > 0)
                        {
                            <nav>
                                <ul class="pagination mb-0 d-flex justify-content-between">

                                    <!-- Phần bên trái -->
                                    <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                                        <a class="page-link" asp-route-page="@(Model.Page - 1)">
                                            <i class="fa-solid fa-arrow-left"></i>
                                        </a>
                                    </li>

                                    @if (Model.Page > 1)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" asp-route-page="@(Model.Page - 1)">@((Model.Page - 1).ToString())</a>
                                        </li>
                                    }

                                    <li class="page-item active">
                                        <span class="page-link">@Model.Page</span>
                                    </li>

                                    <li class="page-item disabled">
                                        <span class="page-link">...</span>
                                    </li>

                                    <!-- Phần bên phải -->
                                    @if (Model.TotalPages > 1)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" asp-route-page="@(Model.TotalPages - 1)">@((Model.TotalPages - 1).ToString())</a>
                                        </li>
                                    }

                                    @if (Model.TotalPages > 0)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" asp-route-page="@(Model.TotalPages)">@Model.TotalPages</a>
                                        </li>
                                    }

                                    <li class="page-item @(Model.Page == Model.TotalPages ? "disabled" : "")">
                                        <a class="page-link" asp-route-page="@(Model.Page + 1)">
                                            <i class="fa-solid fa-arrow-right"></i>
                                        </a>
                                    </li>
                                </ul>

                            </nav>


                        }
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('click', async (e) => {
        const btn = e.target.closest(".btn-delete");

        if (!btn) return;

        e.preventDefault();

        const id = btn.dataset.id;

        const ok = await Swal.fire ({
            title: "Xác nhận xoá",
            text: `Bạn có chắc muốn xoá lịch chiếu này?`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Xoá',
            cancelButtonText: 'Huỷ'
        }).then(r => r.isConfirmed);

        if (!ok) {
            return;
        }

        const token = document.querySelector('#antiForgeryForm input[name="__RequestVerificationToken"]').value;

        const url = `/admin/showtime/delete/${encodeURIComponent(id)}`;

        const res = await fetch(url, {
            method: 'post',
            headers: {'Content-Type': 'application/x-www-form-urlencoded; charset="utf-8" '},
            credentials: 'same-origin',
            body: new URLSearchParams({
                '__RequestVerificationToken': token,
            })
        });

        const raw = await res.text();
        let json;
        try {
            json = raw && res.headers.get('content-type')?.includes('application/json')
            ? JSON.parse(raw)
            : null;
        } catch {
            json = null;
        }

        if (!json) {
            console.error('Non-JSON response', res.status, raw);
            Swal.fire({ icon:'error', title:`HTTP ${res.status}`, text:'Máy chủ trả về non-JSON.' });
            return;
        }


        if (json.ok) {
            const row = document.getElementById(`row-${id}`);
            row?.remove();
            Swal.fire ({ icon:'success', title:'Đã xoá', timer: 1200, showConfirmButton:false });
            setTimeout(() => {
                location.reload();
            }, 1200);
        } else {
            Swal.fire ({ icon:'error', title:'Lỗi', text: json.message || "Không xoá được" });
        }
    });
</script>