@model IEnumerable<Project02.Models.Showtime>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Start_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Format)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cinema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Start_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Format)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinema.Cinema_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hall.Hall_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Movie_ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Showtime_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Showtime_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Showtime_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
