@model Project02.Models.Film

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Film_Slug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Film_Slug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Film_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Film_Name)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Film_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Film_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Film_Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Film_Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Film_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Film_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Film_Created_At)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Film_Created_At)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Film_Update_At)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Film_Update_At)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Film_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
