@using Project02.ViewModels
@model PagedResult<Project02.Models.Film>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Movie";
}
<p>
    
</p>
<div class="card">
    <div class="card-header">
        <a asp-action="Create" class="btn btn-outline-success"><i class="bi bi-plus-square"></i></a>
    </div>
    <div class="card-body">
        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                <div class="col-sm-12">
                    <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                        <thead>
                            <tr>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Movie Slug</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Movie Name</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Movie Type</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Description</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Duration</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Created At</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">Updated At</th>
                                <th>Control</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>@item.Film_Slug</td>
                                    <td>@item.Film_Name</td>
                                    <td>@item.Film_Type</td>
                                    <td>@item.Film_Description</td>
                                    <td>@item.Film_Duration</td>
                                    <td>@item.Film_Status</td>
                                    <td>@item.Film_Created_At</td>
                                    <td>@item.Film_Update_At</td>
                                    <td>
                                        <!-- Edit -->
                                        <a asp-action="Edit" asp-route-id="@item.Film_ID" class="btn btn-sm btn-outline-primary" title="Edit">
                                            <i class="fas fa-edit"></i>
                                        </a>

                                        <!-- Details -->
                                        <a asp-action="Details" asp-route-id="@item.Film_ID" class="btn btn-sm btn-outline-info" title="Details">
                                            <i class="fas fa-eye"></i>
                                        </a>

                                        <!-- Delete -->
                                        <a asp-action="Delete" asp-route-id="@item.Film_ID" class="btn btn-sm btn-outline-danger" title="Delete">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                        Showing @( (Model.PageIndex-1) * Model.PageSize + 1 )
                        to @( Math.Min(Model.PageIndex * Model.PageSize, Model.TotalItems) )
                        of @Model.TotalItems entries
                    </div>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                        <ul class="pagination">
                            <!-- Previous -->
                            <li class="paginate_button page-item @(Model.HasPreviousPage ? "" : "disabled")">
                                <a class="page-link"
                                   asp-route-page="@(Model.PageIndex - 1)"
                                   asp-route-pageSize="@Model.PageSize"
                                   asp-route-q="@(ViewBag.q)">
                                    <i class="fas fa-chevron-left"></i>
                                </a>
                            </li>

                            <!-- Page numbers -->
                            @for (var i = 1; i <= Model.TotalPages; i++)
                            {
                                <li class="paginate_button page-item @(i == Model.PageIndex ? "active" : "")">
                                    <a class="page-link"
                                       asp-route-page="@i"
                                       asp-route-pageSize="@Model.PageSize"
                                       asp-route-q="@(ViewBag.q)">@i</a>
                                </li>
                            }

                            <!-- Next -->
                            <li class="paginate_button page-item @(Model.HasNextPage ? "" : "disabled")">
                                <a class="page-link"
                                   asp-route-page="@(Model.PageIndex + 1)"
                                   asp-route-pageSize="@Model.PageSize"
                                   asp-route-q="@(ViewBag.q)">
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>